.container{
    width: 98%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and ( min-width:768px){
    .container{
        width: 70%;
    }
}

.detail{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detailImage{
    width: 100%;
}

.content{
    width:100%;
    height: 100%;
    text-align: center;
    
}

@media screen and (min-width:768px){
    .detailImage{
        width: 50%;
    }
    .content{
        padding-left: 3rem;
        width:50%;
    }
}

a{
    text-decoration: none;
    color: white;
    
}

a:hover{
    color: rgb(17, 17, 17);
}

h1{
    color:#D0D3D4  ;
    font-size: 55px;
    font-family:Arial, Helvetica, sans-serif ;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 3px #1C2833 ;  
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight:normal;
    text-align: center;
    padding: 0.5rem;
    line-height:20px ;
}




