
.App {
    text-align: center;
  }
  

body {
    background: #ECF0F1 ;
    margin-top: 20px;
  }
  
  .img-thumbnail {
    padding: 0.25rem;
    border-radius: 0.25rem;
    max-width: 80%;
    height: auto;
    box-shadow:inset 0 -3em 3em rgba(0,0,0,0.1),0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  .img-thumbnail:hover{
    transform: scale(1.1);

}
  

  
  .text-muted {
    color: #0f1010 ;
  }
  .title {
    line-height: 22px;
    font-size: 2rem;
    text-decoration:none;
    margin: 1rem;
    color: black;
    
  }
  