.contador{
    width: fit-content;
    
    margin: auto;
    padding:1rem;
    text-align: center;
}

.boton{
    padding: .2rem;
    border-radius: .3rem;
    margin: 1rem;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.space{
    margin: 1rem
}