.App {
    text-align: center;
  }
  

body {
    background: #dcdcdc;
    margin-top: 20px;
  }
  
  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 80%;
    height: auto;
  }

  
  .text-muted {
    color: #98a6ad ;
  }
  .title {
    line-height: 22px;
    font-size: 2rem;
    text-decoration:none;
  }
  