.carrito{
    border: none;
    color: #929394 ;
    font-size: 50px;
    padding: 10px;
  }

.fondo{
  background-color: #FAFAFA;
  
}

.menu{
  font-size: 1.5rem;
}
 a:hover{
  background-color:#E5E7E9;
 }